/*Estilos comunes */

body {
    padding: 0;
    margin: 0;
    background-color: rgb(37, 37, 37);
    font-family:'Courier New', Courier, monospace;
}


/*Navbar*/
.navbar {
    overflow: hidden;
    z-index: 1;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: black;
    font-size: 1.25em;
    font-family:'Montserrat'; /* si no esta instalada puede ser descargada facilmente de google */
}

.navbar a#logo{
    background-image: url(images/logoDS.png);
    background-size: cover;
    width: 150px;
    height: 24px;
    margin-right: 15px;
}

.navbar a:hover{
    background: #333;
}

/*Sidebar*/
.container {
    display: flex;
}
  
.sidebar {
    width: 200px;
    height: 100vh;
    background-color: black;
    color: white;
    transition: all 0.3s ease;
    transform: translateX(-200px);
    z-index: 1;
    position: fixed;
}

.sidebar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    width: 168px;
    text-decoration: none;
    background: black;
    font-size: 1.25em;
    font-family:'Montserrat';
}

.sidebar a#logo{
    background-image: url(images/logoDS.png);
    background-size: cover;
    width: 168px;
    height: 35px;
    margin-bottom: 18px;
}

.sidebar a:hover{
    background-color: #333;
}
  
#toggle:checked ~ .sidebar {
    transform: translateX(0);
}

#toggle:checked ~ .toggle-button {
    transform: translateX(200px);
}

.toggle-button {
    display: block;
    position: fixed;
    width: 50px;
    height: 53px;
    background-color: black;
    top: 5px;
    text-align: center;
    border-radius: 5px;
    left: 10px;
    font-size: 50px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 2;
}
  
 #toggle {
    display: none;
}
/*Mostrar sidebar si la web es muy pequeña*/
@media only screen and (min-width: 768px){
    .sidebar, .toggle-button{
        display: none;
    }
}

/*Estilos propios*/

/*Index*/

.welcome{
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 50%;
    border: 1px solid white;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.welcome h1{
    font-size: 3em;
    margin: 40px;
}

.welcome p{
    margin: 50px;
    font-size: 1.4em;
}

.welcome img{
    margin-bottom: 10px;
}

/*Login*/

form{
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 50%;
    min-width: 500px;
    border: 1px solid white;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.3em;
}

form input, form select{
    margin: 20px;
    margin-top: 30px;
}

.buttons input{
    width: 80px;
    height: 40px;
}

form input:hover{
    background-color: #c5c5c5;
}

/*Coleccion*/

.coleccion{
    position:relative;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 90%;
    border: 1px solid white;
    color: white;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.consola{
    width:80%;
    margin-left: 9.5%;
    border: 5px solid white;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
}

#wii.consola{
    border-color: #35acf1;
}

#ps2.consola{
    border-color: #2f00ff;
}

#gba.consola{
    border-color: #6200ff;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 2%;
}

.juego{
    border: 4px solid white;
    border-radius: 5px;
    width: 20%;
    flex: 1 0 calc(25% - 10px);
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
}

.consola h1{
    font-size: 3em;
}

.juego img{
    margin-top: 25px;
    object-fit: scale-down;
}

/*Sobre mi*/

.sobremi{
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 50%;
    border: 1px solid white;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.sobremi header{
    border-bottom: 1px solid white;
}

.sobremi nav{
    float: left;
    width: 20%;
    margin: 10px;
}

.sobremi table{
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even){
    background-color: rgba(8, 8, 8, 0.9);
}

td, th{
    text-align: left;
    border: 1px solid white;
    padding: 15px;
}

td:hover{
    background-color: rgba(10, 10, 10, 0.9)
}

section::after {
    display: flexbox;
  }

.sobremi article{
    float: left;
    width: 75%;
    margin: 10px;
}
/*Esconder navbar si la web es muy pequeña*/
@media only screen and (max-width: 768px) {

    .navbar{
        display: none;
    }
    .welcome{
        width: 90%;
    }
    .juego{
        flex: 1 0 calc(33.33% - 10px);
    }
}

@media only screen and (max-width: 1600px) {
    .sobremi nav, .sobremi article{
        width: 96%;
    }
}