/*Estilos comunes */

body {
    padding: 0;
    margin: 0;
    background-color: rgb(37, 37, 37);
    background-image: url(images/sinandpunishment.jpeg);
    font-family:'Courier New', Courier, monospace;
}

header {
    background: black;
}

/*Navbar*/
.navbar {
    overflow: hidden;
    z-index: 1;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: black;
    font-size: 1.25em;
    font-family:'Montserrat'; /* si no esta instalada puede ser descargada facilmente de google */
}

.navbar a#logo{
    background-image: url(images/logoDS.png);
    background-size: cover;
    width: 150px;
    height: 24px;
    margin-right: 15px;
}

.navbar a:hover{
    background: #333;
}

/*Sidebar*/
.container {
    display: flex;
}
  
.sidebar {
    width: 200px;
    height: 100vh;
    background-color: black;
    color: white;
    transition: all 0.3s ease;
    transform: translateX(-200px);
    z-index: 1;
}

.sidebar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    width: 168px;
    text-decoration: none;
    background: black;
    font-size: 1.25em;
    font-family:'Montserrat';
}

.sidebar a#logo{
    background-image: url(images/logoDS.png);
    background-size: cover;
    width: 168px;
    height: 35px;
    margin-bottom: 18px;
}

.sidebar a:hover{
    background-color: #333;
}
  
#toggle:checked ~ .sidebar {
    transform: translateX(0);
}

#toggle:checked ~ .toggle-button {
    transform: translateX(200px);
}

.toggle-button {
    display: block;
    position: fixed;
    width: 50px;
    height: 53px;
    background-color: black;
    top: 5px;
    text-align: center;
    border-radius: 5px;
    left: 10px;
    font-size: 50px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 2;
}
  
 #toggle {
    display: none;
}
/*Mostrar sidebar si la web es muy pequeña*/
@media only screen and (min-width: 768px){
    .container{
        display: none;
    }
}

/*Estilos propios*/

/*Index*/

.welcome{
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 50%;
    border: 1px solid white;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.welcome h1{
    font-size: 3em;
    margin: 40px;
}

.welcome p{
    margin: 50px;
    font-size: 1.4em;
}

.welcome img{
    margin-bottom: 10px;
}

/*Login*/

form{
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 50%;
    min-width: 500px;
    border: 1px solid white;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.3em;
}

form input, form select{
    margin: 20px;
    margin-top: 30px;
}

form input:hover{
    background-color: #c5c5c5;
}

/*Esconder navbar si la web es muy pequeña*/
@media only screen and (max-width: 768px) {

    .navbar{
        display: none;
    }
    .welcome{
        width: 90%;
    }
}